@tailwind base;
@tailwind components;
@tailwind utilities;

.light-mode {
  background-color: #fff;
  color: #333;
}

.dark-mode {
  background-color: #1f1f1f;
  color: #fff;
}

button {
  background-color: #ccc;
  color: #333;
}
